apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: sonarqube-cert
  namespace: {{ sonarqube_namespace }}
spec:
  secretName: {{ certificate_secret_name }}
  dnsNames:
    - {{ sonarqube_hostname }}
  issuerRef:
    name: {{ certificate_issuer_name }}
    kind: {{ certificate_issuer_kind }}